<!doctype html>

<html>
    <head>
        <title>Travel Zimbabwe</title>        
    </head>
    <body>
        <header>
          <img src="/img/logo.png" alt="Travel Zim Logo">
        </header>                    
        {{{body}}}
    </body>
</html>

